{% extends 'base.html' %}

{% block 'content_main' %}
<div class="container">
  <div class="card mt-4 mx-auto" style="width:450px">
    <div class="mt-4 mx-5 text-center">




      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="mb-4">
        <h5>Login <b>BookFinder</b></h5>
      </div>
      <table class="">
        <tr>
          <td class="pe-3">{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td class="pe-3">{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      <button class="btn btn-dark mb-1 mt-3" type="submit" value="Login">Login</button>
      <input type="hidden" name="next" value="{{ next }}">
      </form>
      <div class="mt-2">
        <p><a class="text-dark" href="{% url 'password_reset' %}">Lost password?</a></p>
      </div>


      {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p class="text-dark">Please login to see this page.</p>
      {% endif %}
      {% endif %}
      {% if form.errors %}
      <p class="text-warning">Your username and password didn't match. Please try again.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}