{% extends "base.html" %}

{% block 'content_main' %}
<div class="container text-center">
  <div class="card mt-4 mx-auto" style="width:450px">
    <div class="mt-4 mx-4 mb-4">
      {% if validlink %}
        <p>Please enter (and confirm) your new <b>password</b>.</p>
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3 text-center">
            <label for="{{ form.new_password1.id_for_label }}" class="d-block mb-2">Password</label>
            {{ form.new_password1 }}
          </div>
          <div class="mb-3 text-center">
            <label for="{{ form.new_password2.id_for_label }}" class="d-block mb-2">Confirm Password</label>
            {{ form.new_password2 }}
          </div>
          <div class="mb-3">
            {{ form.new_password1.errors|striptags }}
            {{ form.new_password2.errors|striptags }}
          </div>
          <div>
            <input type="submit" value="Change my password" class="btn btn-dark mt-3">
          </div>
        </form>
      {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}