{% extends "base.html" %}

{% block 'content_main' %}
<div class="container text-center">
  <div class="card mt-4 mx-auto" style="width:450px">
    <div class="mt-4 mx-4 mb-4">

      <form action="" method="post">
      {% csrf_token %}
          <div class="mb-4">
            <h5>Change <b>password</b></h5>
            <small class="text-muted">Please enter your email in example@email.com</small>
          </div>
          <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-dark btn-sm" value="Reset password">
      </form>
      <div class="text-center mt-4">
        {% if form.email.errors %}
        {{ form.email.errors|striptags }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
