{% extends 'base.html' %}

{% block 'content_main' %}
<div class="container-sm mt-4">
  {% if data %}
    {% for item in data %}
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-4" style="flex-shrink: 0;">
              <img src="{{ item.image|default:'https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg' }}"
                   class="img-fluid"
                   style="width: 100px; height: 150px; object-fit: cover; border-radius: 8px;">
            </div>
            <div class="container-sm">
              <h2 class="card-title">{{ item.title }}</h2>
              <p class="text-muted">
                <small>{{ item.authors }} | {{ item.publisher }} | {{ item.published_date }}</small>
              </p>
              <div class="mt-2">
                <p>{{ item.description|safe}}</p>
              </div>
              <div class="mt-2">
                <p><strong>Page Count:</strong> {{ item.page_count }}</p>
              </div>
              {% if item.buy_link %}
                <div class="text-end mt-2">
                    <div class="btn-group gap-2 " role="group" aria-label="button group" style="relative: fixed; right: 0; z-index: 1000;">
                      <a href="{{ item.buy_link }}" target="_blank">
                        <button type="button" class="btn btn-outline-success">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                          </svg>
                          <span>Buy</span>
                        </button>
                      </a>
                    {% if saved %}
                    <form action="{% url 'book-delete' data.0.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-dark">
                          <span>Saved</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                          </svg>
                        </button>
                      </form>
                    {% else %}
                      <form method="POST" action="{% url 'book' item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark">
                          <span>Save</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                          </svg>
                        </button>
                      </form>
                    {% endif %}
                    </div>
                </div>
              {% else %}
                <div class="text-end mt-3">
                    <div class="btn-group btn-group" role="group" aria-label="button group">
                      {% if saved %}
                        <form action="{% url 'book-delete' data.0.id %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="_method" value="DELETE">
                          <button type="submit" class="btn btn-dark">
                            <span>Saved</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                              <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                            </svg>
                          </button>
                        </form>
                      {% else %}
                        <form method="POST" action="{% url 'book' item.id %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-outline-dark">
                            <span>Save</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                              <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                            </svg>
                          </button>
                        </form>
                      {% endif %}
                    </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="text-center text-muted">No results found.</p>
  {% endif %}
</div>

<style>
  body{
    background-image:none;
    background-color:white
  }
</style>
{% endblock %}
